﻿<div class="navbar navbar-inverse">
    <div class="navbar-header">
        <a class="navbar-brand" href="/home">
            <img src="/assets/images/logo_light.png" alt="">
        </a>
        <ul class="nav navbar-nav visible-xs-block">
            <li>
                <a data-toggle="collapse" data-target="#navbar-mobile">
                    <i class="icon-tree5"></i>
                </a>
            </li>
            <li>
                <a class="sidebar-mobile-main-toggle">
                    <i class="icon-paragraph-justify3"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="navbar-collapse collapse" id="navbar-mobile">
        <ul class="nav navbar-nav">
            <li>
                <a class="sidebar-control sidebar-main-toggle hidden-xs">
                    <i class="icon-paragraph-justify3"></i>
                </a>
            </li>
            <li class="dropdown">
                <a href="finalActions.html" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-git-compare"></i>
                    <span class="visible-xs-inline-block position-right">Son İşlemler</span>
                    <span class="badge bg-warning-400">3</span>
                </a>
                <div class="dropdown-menu dropdown-content">
                    <div class="dropdown-content-heading">
                        GÜNCELLEMELER
                    </div>
                    <ul class="media-list dropdown-content-body width-350">
                        <li class="media">
                            <div class="media-left">
                                <a class="btn border-primary text-primary btn-flat btn-rounded btn-icon btn-sm">
                                    <i class="icon-plus3"></i>
                                </a>
                            </div>
                            <div class="media-body">
                                Ürünlere
                                <a href="#">Allen Anahtar Takım </a> ürünü eklenmiştir.
                                <div class="media-annotation">4 dakika önce</div>
                            </div>
                        </li>
                        <li class="media">
                            <div class="media-left">
                                <a class="btn border-warning text-warning btn-flat btn-rounded btn-icon btn-sm updateDelete">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </div>
                            <div class="media-body">
                                Döner Puntalar ürünü silinmiştir.
                                <div class="media-annotation">36 dakika önce</div>
                            </div>
                        </li>
                        <li class="media">
                            <div class="media-left">
                                <a class="btn border-info text-info btn-flat btn-rounded btn-icon btn-sm">
                                    <i class="icon-git-pull-request"></i>
                                </a>
                            </div>
                            <div class="media-body">
                                <a href="">Daire Testereler</a> ürünü güncellenmiştir.
                                <div class="media-annotation">2 saat önce</div>
                            </div>
                        </li>
                    </ul>
                    <div class="dropdown-content-footer">
                        <a href="finalActions.html" data-popup="tooltip" title="Tümü">
                            <i class="icon-menu display-block"></i>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
        <p class="navbar-text">
            <span class="label bg-success">Online</span>
        </p>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown language-switch">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <img src="/assets/images/flags/tr.png" class="position-left" alt="Türkçe"> Türkçe
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="turkce">
                            <img src="/assets/images/flags/tr.png" alt="Türkçe"> Türkçe
                        </a>
                    </li>
                    <li>
                        <a class="english">
                            <img src="/assets/images/flags/gb.png" alt="English"> English
                        </a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-bell-o"></i>
                    <span class="visible-xs-inline-block position-right">Siparişler</span>
                    <span class="badge bg-warning-400">2</span>
                </a>
                <div class="dropdown-menu dropdown-content width-350">
                    <div class="dropdown-content-heading">
                        SİPARİŞLER
                        <ul class="icons-list">
                            <li>
                                <a href="orders.html">
                                    <i class="icon-clipboard3"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <ul class="media-list dropdown-content-body">
                        <li class="media">
                            <div class="media-body">
                                <a href="orderDetail.html" class="media-heading">
                                    <span class="text-semibold">İpek Demir</span>
                                    <span class="media-annotation pull-right">04:58</span>
                                </a>
                                <span class="text-muted">Allen anahtar takımları ürününden sipariş geldi.</span>
                            </div>
                        </li>
                        <li class="media">
                            <div class="media-body">
                                <a href="orderDetail.html" class="media-heading">
                                    <span class="text-semibold">Fatih Demir</span>
                                    <span class="media-annotation pull-right">08:00</span>
                                </a>
                                <span class="text-muted">Döner Tablalar ürününden sipariş geldi.</span>
                            </div>
                        </li>
                    </ul>
                    <div class="dropdown-content-footer">
                        <a href="orders.html" data-popup="tooltip" title="Tüm Siparişler">
                            <i class="icon-menu display-block"></i>
                        </a>
                    </div>
                </div>
            </li>
            <li class="dropdown dropdown-user">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <img src="/assets/images/placeholder.jpg" alt="">
                    @if (Request.Cookies["userInfo"] != null)
                    {
                        <span>@Request.Cookies["userInfo"]["Name"] @Request.Cookies["userInfo"]["LastName"] </span>
                    }
                    
                    <i class="caret"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="/myprofile">  <i class="icon-cog5"></i> Hesap Bilgileri</a></li>
                    <li><a href="/Account/Logout"><i class="icon-switch2"></i> Çıkış </a> </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
