﻿<!DOCTYPE html>
<html lang="tr">
<head>
    
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-9" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - CMS Admin</title>

    @Html.Partial("_Styles")
    @Html.Partial("_Scripts")
</head>
<body>
    <!-- Main navbar -->
    @Html.Partial("_HeaderTop")
    <!-- /main navbar -->
    <!-- Page container -->
    <div class="page-container">
        <!-- Page content -->
        <div class="page-content">
            <!-- Main sidebar -->
            <div class="sidebar sidebar-main">
                <div class="sidebar-content">                   
                    <!-- Main navigation -->
                    @Html.Partial("_MainNavigation")
                    <!-- /main navigation -->
                    <div class="sidebar-user">
                        <div class="category-content">
                            <div class="media">
                                <a href="http://www.liyabilisim.com/" target="_blank">
                                    <div class="media-body text-center">
                                        <img src="/assets/images/liya-bilisim-logo.png" class="liyabilisimLogo" alt="Liya Bilişim">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /main sidebar -->
            <!-- Main content -->
            @RenderBody()
            <!-- /main content -->
        </div>
        <!-- /page content -->
    </div>
    <!-- /page container -->

</body>
</html>
