﻿<div class="sidebar-category sidebar-category-visible">
    <div class="category-content no-padding">
        <ul class="navigation navigation-main navigation-accordion">
            <!-- Main -->
            <li class="navigation-header">
                @*<span>PANEL</span>*@
                <i class="icon-menu" title="Main pages"></i>
            </li>
            <li class="active">
                <a href="/home">
                    <i class="icon-home4"></i>
                    <span>ANASAYFA</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="icon-clipboard3"></i>
                    <span>SİPARİŞLER</span>
                </a>
                <ul>
                    <li>
                        <a href="pendingOrders.html">
                            Bekleyen Siparişler
                            <span class="label bg-pink-400">2</span>
                        </a>
                    </li>
                    <li>
                        <a href="orders.html">Sipariş Listesi</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="icon-stack2"></i>
                    <span>ÜRÜN & KATEGORİ</span>
                </a>
                <ul>
                    <li><a href="/categoryList">Kategori Listesi</a></li>                    
                    <li><a href="/productsList">Ürün Listesi</a></li>             
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="icon-stack2"></i>
                    <span>GALERİ</span>
                </a>
                <ul>
                    <li><a href="/galleryList">Resim Galeri Listesi</a></li>
                    <li><a href="/documentGalleryList">Döküman Galeri Listesi</a></li>
                </ul>
            </li>

            <li>
                <a href="#">
                    <i class="icon-stack2"></i>
                    <span>SİTE YÖNETİMİ</span>
                </a>
                <ul>
                    <li><a href="/webPagesList">Menü Listesi</a></li>
                    <li>
                        <a href="/googleAnalytics">
                            <i class="icon-statistics"></i>
                            <span>Google Analytics</span>
                        </a>
                    </li>
                    <li>
                        <a href="/googleMap">
                            <i class="icon-map5"></i>
                            <span>Google Maps</span>
                        </a>
                    </li>
                    <li>
                        <a href="/socialMedia">
                            <i class="fa fa-share-alt"></i>
                            <span>Sosyal Medya</span>
                        </a>
                    </li>

                    <li>
                        <a href="/userList">
                            <i class="fa fa-share-alt"></i>
                            <span>Kullanıcılar</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#">
                    <i class="icon-stack2"></i>
                    <span>BANNER</span>
                </a>
                <ul>
                    <li><a href="/bannerList">Banner Listesi</a></li>
                </ul>
            </li>


            <li>
                <a href="#">
                    <i class="icon-stack2"></i>
                    <span>İÇERİK</span>
                </a>
                <ul>
                    <li><a href="/contentPagesList">İçerik Listesi</a></li>
                </ul>
            </li>




        </ul>
    </div>
</div>