﻿<!-- Core JS files -->
<script type="text/javascript" src="/assets/js/core/libraries/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/plugins/loaders/pace.min.js"></script>
<script type="text/javascript" src="/assets/js/core/libraries/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/plugins/loaders/blockui.min.js"></script>
<!-- /core JS files -->
<!-- Theme JS files -->
<script type="text/javascript" src="/assets/js/plugins/visualization/d3/d3.min.js"></script>
<script type="text/javascript" src="/assets/js/plugins/visualization/d3/d3_tooltip.js"></script>
<script type="text/javascript" src="/assets/js/plugins/forms/styling/switchery.min.js"></script>
<script type="text/javascript" src="/assets/js/plugins/forms/styling/uniform.min.js"></script>
<script type="text/javascript" src="/assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
<script type="text/javascript" src="/assets/js/plugins/ui/moment/moment.min.js"></script>
<script type="text/javascript" src="/assets/js/plugins/pickers/daterangepicker.js"></script>
<script type="text/javascript" src="/assets/js/plugins/tables/datatables/datatables.min.js"></script>
<script type="text/javascript" src="/assets/js/pages/datatables_basic.js"></script>
<script type="text/javascript" src="/assets/js/plugins/forms/selects/select2.min.js"></script>
<script type="text/javascript" src="/assets/js/plugins/editors/summernote/summernote.min.js"></script>
<script type="text/javascript" src="/assets/js/plugins/tables/datatables/extensions/responsive.min.js"></script>
<script type="text/javascript" src="/assets/js/plugins/uploaders/fileinput.min.js"></script>
<script type="text/javascript" src="/assets/js/plugins/editors/ace/ace.js"></script>
<script type="text/javascript" src="/assets/js/core/app.js?v=@DateTime.Now.Date"></script>
<script type="text/javascript" src="/assets/js/pages/form_layouts.js"></script>

@*<script type="text/javascript" src="/assets/js/pages/dashboard.js"></script>*@
<script type="text/javascript" src="/assets/js/plugins/notifications/sweet_alert.min.js"></script>
<!-- /theme JS files -->


<script type="text/javascript" src="/assets/js/pages/datatables_responsive.js"></script>
<script type="text/javascript" src="/assets/js/pages/uploader_bootstrap.js"></script>
<script type="text/javascript" src="/assets/js/pages/editor_summernote.js"></script>
