﻿@{
    ViewBag.Title = "Sayfa Bulunamadı";
    Layout = null;
}
<style type="text/css">
        <!--
    body { background-color: #fff;   font-family: Arial, Helvetica, sans-serif;    margin: 0px;  padding: 0px;    }
    .ana_tasiyici {    width: 550px;     height: 420px;            padding: 0px;
        margin: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -210px auto auto -275px;
    }

    .tasiyici_ust {
        width: 550px;
        text-align: center;
    }

    .tasiyici_alt {
        width: 550px;
        text-align: center;
        float: left;
        margin-top: 20px;
    }

    .sol {
        padding-top: 45px;
        float: left;
        height: 200px;
    }

    .orta {
        height: 200px;
        float: left;
        width: 437px;
    }

    .sag {
        padding-top: 45px;
        float: right;
        height: 200px;
    }

    .hata {
        font-size: 150px;
        color: #d5d5d5;
        font-weight: bold;
        height: 155px;
        font-style: italic;
    }

    .uyari {
        font-size: 30px;
        color: #d5d5d5;
        font-weight: bold;
    }

    .uyari_text {
        font-size: 16px;
        color: #b1b1b1;
    }

    .uyari_text p {
        margin: 0 0 10px;
    }

    .uyari_text p a {
        text-decoration: none;
        color: #e40203;
    }

    .uyari_text p a:hover {
        text-decoration: underline;
    }
-->
    </style>

<div class="panel-body">

    <div class="container">
        <div class="row">

            <div class="ana_tasiyici">
                <div class="tasiyici_ust">
                    <div class="sol">
                        <img src="~/assets/images/sol.gif" width="56" height="142" alt="" border="0" />
                    </div>
                    <div class="orta">
                        <div class="hata">404</div>
                        <div class="uyari">Sayfa Bulunamadı</div>
                    </div>
                    <div class="sag">
                        <img src="~/assets/images/sag.gif" width="56" height="142" alt="" border="0" />
                    </div>
                </div>
                <div class="tasiyici_alt">
                    <div class="uyari_text">
                        <p><strong><span id="countdown"></span></strong> saniye içinde ana sayfaya yönlendirileceksiniz.</p>
                        <p>Beklemek istemiyorsanız <a href="/anasayfa">tıklayın.</a></p>
                    </div>
                </div>
                <div class="tasiyici_alt">
                    <a href="/anasayfa" target="_blank">
                        <img src="~/assets/images/snmzCmsLogo.png" height="25" alt="" border="0" />
                    </a>
                </div>
            </div>
    
        </div>
    </div>
</div>
  
<script src="../../assets/js/lib/jquery.lib.min.js"></script>
<script type="text/javascript">
    function counter($el, n) {
        (function loop() {
            $el.html(n);
            if (n--) {
                setTimeout(loop, 1000);
            } else if (n <= 0) {
                location.replace("/anasayfa");
            }
        })();
    }
    counter($('#countdown'), 5);
</script>