﻿
@using SnmzCMS.Business.Enums
@using SnmzCMS.Business.Helper
@model SnmzCMS.Data.Products
<!-- Content area -->
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <!-- Basic layout-->
            @using (Html.BeginForm("DetailProducts", "Products", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(x => x.Id)
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <h4 class="panel-title">@(Model?.Id > 0 ? "Ürün  Düzenle" : "Ürün Ekle")</h4>
                        <hr />
                        <div class="heading-elements">
                            <ul class="icons-list">
                                <li>
                                    <a data-action="collapse"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel-body">

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Kategori :</label>
                            <div class="col-lg-9">
                                @Html.DropDownListFor(model => model.CategoryId, new SelectList(ViewBag.CategoryList, "Id", "Name"), "Lütfen Seçiniz", new { @class = "form-control", @required = "required" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Sıra No :</label>
                            <div class="col-lg-9">
                                @Html.TextBoxFor(m => m.Rank, new { @class = "form-control input-lg", placeholder = "Sıra No", required = "required" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Ürün Adı :</label>
                            <div class="col-lg-9">
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control input-lg", placeholder = "Ürün Adı", required = "required" })
                            </div>
                        </div>

                        <!-- Summernote editor -->
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Ürün Açıklaması :</label>
                            <div class="col-lg-9">
                                @Html.TextAreaFor(m => m.Description, new { @class = "form-control input-lg", placeholder = "Ürün Açıklaması" })
                            </div>
                        </div>
                        <!-- /summernote editor -->
                        <!-- Summernote editor -->
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Ürün Tablo :</label>
                            <div class="col-lg-9">
                                @Html.TextAreaFor(m => m.Detail, new { @class = "form-control input-lg", placeholder = "Ürün Tablo" })
                            </div>
                        </div>
                        <!-- /summernote editor -->


                        @if (Model?.ProductFiles != null)
                        {
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Mevcut Resimler:</label>
                                <div class="col-lg-9">
                                    @foreach (var item in Model.ProductFiles)
                                    {
                                        <img src="@MediaHelper.GetFileUrl(item.Files)" width="20%" />
                                    }
                                </div>
                            </div>
                        }

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Ürün Resmi Ekle </label>
                            <div class="col-lg-9">
                                <input type="file" accept="image/*" name="productUploadFiles" multiple="multiple" class="file-input">
                                <span class="help-block">Kabul edilen biçimler: gif, png, jpg. Maks. Dosya boyutu 2Mb</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Seo Keywords :</label>
                            <div class="col-lg-9">
                                @Html.TextBoxFor(m => m.SeoKeywords, new { @class = "form-control input-lg", placeholder = "Seo Keywords", required = "required" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Seo Description :</label>
                            <div class="col-lg-9">
                                @Html.TextBoxFor(m => m.SeoDescription, new { @class = "form-control input-lg", placeholder = "Seo Description", required = "required" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Durum :</label>
                            <div class="col-lg-9">
                                <label class="radio-inline">
                                    @if (Model != null)
                                    {
                                        <input type="checkbox" class="styled" value="1" checked="@(Model.StatusId == (int) StatusEnum.Active)" name="StatusId"> <span> Aktif</span>
                                    }
                                    else
                                    {
                                        <input type="checkbox" class="styled" value="1" checked="checked" name="StatusId"><span>Aktif</span>
                                    }

                                </label>
                            </div>
                        </div>
                        <div class="text-right">
                            <button type="submit" class="btn  bg-teal-700">KAYDET</button>
                        </div>
                    </div>
                </div>
            }
            <!-- /basic layout -->
        </div>
    </div>
</div>
<!-- /content area -->

<script>

    $(document).ready(function () {
        $('#Description').summernote();
        $('#Detail').summernote();
    });


</script>