﻿@{
    ViewBag.Title = "Ana Sayfa";
}

<div class="content-wrapper">
    <!-- Page header -->
    <div class="page-header page-header-default">
        <div class="page-header-content">
            <div class="page-title">
                <h4>
                    <i class="icon-arrow-left52 position-left"></i>
                    <span class="text-semibold">Anasayfa</span> - Yönetim Paneli
                </h4>
            </div>
         
        </div>
        <div class="breadcrumb-line">
            <ul class="breadcrumb">
                <li>
                    <a href="default.html">
                        <i class="icon-home2 position-left"></i> Anasayfa
                    </a>
                </li>
                <li class="active">Yönetim Paneli</li>
            </ul>
           
        </div>
    </div>
    <!-- /page header -->
    <!-- Content area -->
    <div class="content">
        <!-- Main charts -->
        <div class="row">
           
            <div class="col-lg-6">
                <!-- Support tickets -->
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <h6 class="panel-title">Son İşlemler</h6>
                        <div class="heading-elements">
                            <a href="finalActions.html"><span class="badge bg-blue">Tümü</span></a>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table text-nowrap">
                            <tbody>
                                <tr>
                                    <td class="text-center">
                                        <h6 class="no-margin">
                                            4
                                            <small class="display-block text-size-small no-margin">Dakika</small>
                                        </h6>
                                    </td>
                                    <td>
                                        <div class="text-semibold">
                                            Ürünlere
                                            <a href="#"> Allen Anahtar Takım </a> ürünü eklenmiştir.
                                        </div>
                                        <span class="display-block text-muted">4 dakika önce</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <h6 class="no-margin">
                                            36
                                            <small class="display-block text-size-small no-margin">Dakika</small>
                                        </h6>
                                    </td>
                                    <td>
                                        <div class="text-semibold">
                                            <a href="#">Döner Puntalar</a> ürünü silinmiştir.
                                        </div>
                                        <span class="display-block text-muted">36 dakika önce</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <h6 class="no-margin">
                                            2
                                            <small class="display-block text-size-small no-margin">Saat</small>
                                        </h6>
                                    </td>
                                    <td>
                                        <div class="text-semibold">Daire Testereler ürünü güncellenmiştir. </div>
                                        <span class="display-block text-muted">2 saat önce</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /support tickets -->
            </div>
            <div class="col-lg-6">
                <!-- Sosyal Medya -->
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <h6 class="panel-title">
                            Sosyal Medya
                            <a class="heading-elements-toggle">
                                <i class="icon-more"></i>
                            </a>
                        </h6>
                        <div class="heading-elements">
                            <span class="label bg-success heading-text">3 AKTİF HESAP</span>
                            <ul class="icons-list">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="icon-menu7"></i>
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li>
                                            <a href="#">
                                                <i class="icon-sync"></i> Yenile
                                            </a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="#">
                                                <i class="icon-cross3"></i> Tümünü Sil
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table text-nowrap">
                            <tbody>
                                <tr class="active">
                                    <td colspan="4"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="media-left media-middle">
                                            <a href="#">
                                                <img src="/assets/images/brands/facebook.png" class="img-circle img-xs" alt="">
                                            </a>
                                        </div>
                                        <div class="media-left">
                                            <div class="">
                                                <a href="#" class="text-default text-semibold">Facebook</a>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="text-muted">
                                            <a href="http://www.facebook.com/ertekkesicitakim" target="_blank">www.facebook.com/ertekkesicitakim</a>
                                        </span>
                                    </td>
                                    <td class="text-center">
                                        <ul class="icons-list">
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                    <i class="icon-menu7"></i>
                                                </a>
                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li>
                                                        <a href="socialMedia.html">
                                                            <i class="fa fa-edit"></i> Düzenle
                                                        </a>
                                                    </li>
                                                    <li class="divider"></li>
                                                    <li>
                                                        <a href="#delete">
                                                            <i class="fa fa-close"></i> Sil
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="media-left media-middle">
                                            <a href="#">
                                                <img src="/assets/images/brands/youtube.png" class="img-circle img-xs" alt="">
                                            </a>
                                        </div>
                                        <div class="media-left">
                                            <div class="">
                                                <a href="#" class="text-default text-semibold">Youtube</a>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="text-muted">
                                            <a href="http://www.youtube.com/ertekkesicitakim" target="_blank">www.youtube.com/ertekkesicitakim</a>
                                        </span>
                                    </td>
                                    <td class="text-center">
                                        <ul class="icons-list">
                                            <li class="dropup">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                    <i class="icon-menu7"></i>
                                                </a>
                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li>
                                                        <a href="socialMedia.html">
                                                            <i class="fa fa-edit"></i> Düzenle
                                                        </a>
                                                    </li>
                                                    <li class="divider"></li>
                                                    <li>
                                                        <a href="#delete">
                                                            <i class="fa fa-close"></i> Sil
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="media-left media-middle">
                                            <a href="#">
                                                <img src="/assets/images/brands/twitter.png" class="img-circle img-xs" alt="">
                                            </a>
                                        </div>
                                        <div class="media-left">
                                            <div class="">
                                                <a href="#" class="text-default text-semibold">Twitter ads</a>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="text-muted">
                                            <a href="http://www.twitter.com/ertekkesicitakim" target="_blank">www.twitter.com/ertekkesicitakim</a>
                                        </span>
                                    </td>
                                    <td class="text-center">
                                        <ul class="icons-list">
                                            <li class="dropup">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                    <i class="icon-menu7"></i>
                                                </a>
                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li>
                                                        <a href="socialMedia.html">
                                                            <i class="fa fa-edit"></i> Düzenle
                                                        </a>
                                                    </li>
                                                    <li class="divider"></li>
                                                    <li>
                                                        <a href="#delete">
                                                            <i class="fa fa-close"></i> Sil
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /Sosyal Medya -->
            </div>
        </div>
        <!-- /main charts -->       
    </div>
    <!-- /content area -->
</div>