﻿
@using SnmzCMS.Business.Enums
@using SnmzCMS.Business.Helper
@model SnmzCMS.Data.Category
<!-- Content area -->
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <!-- Basic layout-->
            @using (Html.BeginForm("DetailCategory", "Category", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(x => x.Id)
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <h4 class="panel-title">@(Model?.Id > 0 ? "Kategori  Düzenle" : "Kategori Ekle")</h4>
                        <hr />
                        <div class="heading-elements">
                            <ul class="icons-list">
                                <li>
                                    <a data-action="collapse"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Sıra No :</label>
                            <div class="col-lg-9">
                                @Html.TextBoxFor(m => m.Rank, new { @class = "form-control input-lg", placeholder = "Sıra No", required = "required" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Kategori Adı :</label>
                            <div class="col-lg-9">
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control input-lg", placeholder = "Kategori Adı", required = "required" })
                            </div>
                        </div>

                        @if (Model?.Files != null)
                        {
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Mevcut Resim:</label>
                                <div class="col-lg-9">
                                    <img src="@MediaHelper.GetFileUrl(Model.Files)" />
                                </div>
                            </div>
                        }

                       
                        <div class="form-group">                            
                            <label class="col-lg-3 control-label">@(Model?.Files == null ? "Kategori Resmi Ekle" : "Kategori Resmi Değiştir") </label>
                            <div class="col-lg-9">
                                <input type="file" name="categoryUploadFile" accept="image/*" class="file-input">
                                <span class="help-block">Kabul edilen biçimler: gif, png, jpg. Maks. Dosya boyutu 2Mb</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Durum :</label>
                            <div class="col-lg-9">
                                <label class="radio-inline">
                                    @if (Model != null)
                                    {
                                        <input type="checkbox" class="styled" value="1" checked="@(Model.StatusId == (int)StatusEnum.Active)" name="StatusId"><span>Aktif</span>
                                    }
                                    else
                                    {
                                        <input type="checkbox" class="styled" value="1" checked="checked" name="StatusId"><span>Aktif</span>
                                    }

                                </label>
                            </div>
                        </div>
                        <div class="text-right">
                            <button type="submit" class="btn  bg-teal-700">KAYDET</button>
                        </div>
                    </div>
                </div>
            }
            <!-- /basic layout -->
        </div>
    </div>
</div>
<!-- /content area -->

<script>

    $(window).load(function () {
        var isResult = @Html.Raw(Json.Encode(ViewBag.Result));
        if (isResult != null) {
            if (isResult.Success === true) {
                window.swal("Snmz-CMS Admin", isResult.Message, "success").then(() => {
                    document.location.href = "/categoryList";
                });


            } else {
                window.swal("Snmz-CMS Admin", isResult.Message, "error").then(() => {
                    document.location.href = "/categoryList";
                });
            }

        }
    });



</script>