﻿
@using SnmzCMS.Business.Enums
@using SnmzCMS.Business.Helper
@model SnmzCMS.Data.WebPages
<!-- Content area -->
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <!-- Basic layout-->
            @using (Html.BeginForm("DetailWebPages", "WebPages", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(x => x.Id)
               
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <h4 class="panel-title">@(Model?.Id > 0 ? "Menü  Düzenle" : "Menü Ekle")</h4>
                        <hr />
                        <div class="heading-elements">
                            <ul class="icons-list">
                                <li>
                                    <a data-action="collapse"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel-body">
                        
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Üst Menü :</label>
                            <div class="col-lg-9">
                                @Html.DropDownListFor(model => model.ParentId, new SelectList(ViewBag.TopMenuList, "Id", "Name"), "Lütfen Seçiniz", new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Menü Adı :</label>
                            <div class="col-lg-9">
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control input-lg", placeholder = "Sıra No", required = "required" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">SeoUrl :</label>
                            <div class="col-lg-9">
                                @Html.TextBoxFor(m => m.SeoUrl, new { @class = "form-control input-lg", placeholder = "Sıra No", @readonly = "readonly" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Sıra No :</label>
                            <div class="col-lg-9">
                                @Html.TextBoxFor(m => m.Rank, new { @class = "form-control input-lg", placeholder = "Sıra No", required = "required" })
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Durum :</label>
                            <div class="col-lg-9">
                                <label class="radio-inline">
                                    @if (Model != null)
                                    {
                                        <input type="checkbox" class="styled" value="1" checked="@(Model.StatusId == (int) StatusEnum.Active)" name="StatusId"><span>Aktif</span>
                                    }
                                    else
                                    {
                                        <input type="checkbox" class="styled" value="1" checked="checked" name="StatusId"><span>Aktif</span>
                                    }

                                </label>
                            </div>
                        </div>
                        <div class="text-right">
                            <button type="submit" class="btn  bg-teal-700">KAYDET</button>
                        </div>
                    </div>
                </div>
            }
            <!-- /basic layout -->
        </div>
    </div>
</div>
<!-- /content area -->

<script>

    $("#Name").keyup(function () {
        $("#SeoUrl").val(ToSeoUrl($("#Name").val()));
    });



</script>