﻿
@using SnmzCMS.Business.Enums
@model List<SnmzCMS.Data.WebPages>

<!-- Content area -->
<div class="content">
    <!-- Main charts -->
    <div class="row">
        <div class="col-lg-12">
            <!-- Pagination types -->
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h4 class="panel-title">Web Menü Listesi</h4>
                    <div class="heading-elements">
                        <ul class="icons-list">
                            <li>
                                <a data-action="collapse"></a>
                            </li>
                        </ul>
                    </div>
                </div>

                @if (Model.Count > 0 && Model != null)
                {
                    <div class="col-md-12">
                        <div class="text-right">
                            <a href="/createWebPage" type="button" class="btn btn-info">
                                <span class="glyphicon glyphicon-plus"></span> Ekle
                            </a>
                        </div>
                        <hr />
                    </div>

                    <table class="table  datatable-responsive" id="categoryTable">
                        <thead>
                            <tr>
                                <th>Sıra No</th>
                                <th>Menü Adı</th>
                                <th>Durum</th>
                                <th>İşlemler</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var menu in Model)
                            {
                                <tr>
                                    <td>@menu.Rank</td>
                                    <td>@menu.Name</td>
                                    <td>@Enum.GetName(typeof(StatusEnum), menu.StatusId)</td>
                                    <td>
                                        <a href="/detailWebPage/@menu.Id">
                                            <span class="label label-info productsEdit">
                                                <i class="fa fa-edit"></i>
                                            </span>
                                        </a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                }
                else
                {
                    <div class="row">
                        <ul class="list-inline text-center">

                            <li class="text-center">
                                <div class="text-semibold">Henüz Bir Kayıt Eklenmemiş. </div>
                            </li>
                        </ul>
                        <ul class="list-inline text-center">
                            <li>
                                <a href="/createWebPage" type="button" class="btn btn-info">
                                    <span class="glyphicon glyphicon-plus"></span> Ekle
                                </a>
                            </li>
                        </ul>
                    </div>

                }

            </div>
            <!-- /pagination types -->
        </div>
    </div>
    <!-- /main charts -->
</div>
<!-- /content area -->
