﻿@using SnmzCMS.Business.Enums
@model SnmzCMS.Data.SiteManagement

<!-- Content area -->
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <!-- Basic layout-->
           
        @using (Html.BeginForm("GoogleMap", "SiteManagement", FormMethod.Post, new {@class = "form-horizontal", role = "form", enctype = "multipart/form-data"}))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.Id)
            @Html.Hidden("Name", "map")
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h4 class="panel-title">Google Map</h4>
                    <div class="heading-elements">
                        <ul class="icons-list">
                            <li>
                                <a data-action="collapse"></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-lg-12 control-label">Kod Ekle :</label>
                        <div class="col-lg-12">                           
                                @Html.TextAreaFor(m => m.Value, new { @class = "form-control input-lg", @rows = "5", @cols = "70" })                          
                        </div>
                    </div>
                    
                    
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Durum :</label>
                        <div class="col-lg-9">
                            <label class="radio-inline">
                                @if (Model != null)
                                {
                                    <input type="checkbox" class="styled" value="1" checked="@(Model.StatusId == (int) StatusEnum.Active)" name="StatusId"> <span> Aktif</span>
                                }
                                else
                                {
                                    <input type="checkbox" class="styled" value="1" checked="checked" name="StatusId"><span>  Aktif</span>
                                }

                            </label>
                        </div>
                    </div>

                    <div class="text-right">
                        <button type="submit" class="btn  bg-teal-700">KAYDET</button>
                    </div>
                </div>
            </div>
        }
            <!-- /basic layout -->

        </div>
    </div>
</div>
<!-- /content area -->
