.updateDelete { 
    width: 36px;
    height: 36px;
    line-height: 24px;
}
.updateDelete i {
    font-size: 15px;
}
.dropdown-menu > li > a > img, .dropdown-menu > .dropdown-header > img {
    top:2px !important;
}
.categoryImg {
    width: 90px;
    border:1px solid #eee;
}
.categoryImg img {
    max-height: 40px;
    
}
.productsEdit, .productsDelete {
    font-size: 17px;
    width: 30px;
}
.media-left {     vertical-align: middle;}
.liyabilisimLogo {
    max-width: 140px;
    margin:0px auto;
    
}
.loginLogoBg img {
    width: 100%;
    padding: 20px 40px;
}
.loginLogoBg {
    background: #000000;
    margin: -21px -21px 0px;
    border-radius: 4px 4px 0px 0px;
}
.ertekLoginPanel.panel {
    background-color:rgba(255,255,255,0.9);    
    border:none;
    width: 400px !important;
    padding: 15px 50px
}
.orders .btn-labeled.btn-sm > b {
    padding: 10px;
}
.ept-header                             {   background: #222; color:#fff; padding: 6px; width: 99.8%; font-weight: bold;}
.ertekProductsTable table               {   width: 100%;   border-collapse: collapse; }
.ertekProductsTable tr:nth-of-type(odd) {   background: #eee; }
.ertekProductsTable th                  {   background: #333;   color: white;   font-weight: bold; }
.ertekProductsTable td                  {   padding: 6px;   border: 1px solid #ccc;   text-align: left; }
.ertekProductsTable th                  {   padding: 6px;   border: 1px solid #222;   text-align: left; }

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
  table.responsive, 
  .responsive thead, 
  .responsive tbody, 
  .responsive th, 
  .responsive td, 
  .responsive tr { 		display: block; 	}
	.responsive thead tr    {   position: absolute;		top: -9999px;		left: -9999px;	}	
  .responsive tr          {   border: 1px solid #ccc; }
	.responsive td          {   border: none;		border-bottom: 1px solid #eee; 		position: relative;		padding-left: 50%; 	}
	.responsive td:before   {   position: absolute;		top: 6px;		left: 6px;		width: 45%; 		padding-right: 10px; 		white-space: nowrap;	}	
	.responsive td:before   {   content: attr(data-table-header); font-weight: bold; color:#000; }
}