﻿@using SnmzCMS.Business.Enums
@model SnmzCMS.Data.Users

@{
    ViewBag.Title = "Create";
}

<!-- Content area -->
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <!-- Basic layout-->
            @using (Html.BeginForm("Create", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
            {
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <h4 class="panel-title">@(Model?.Id > 0 ? "Kullanıcı  Düzenle" : "Kullanıcı Ekle")</h4>
                        <div class="heading-elements">
                            <ul class="icons-list">
                                <li>
                                    <a data-action="collapse"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel-body">
                        @Html.AntiForgeryToken()
                        
                        <hr />
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.Label("Kullanıcı Adı", new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", required = "required" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Ad", new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" , required = "required" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Soyad", new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.SurName, new { @class = "form-control", required = "required" })
                            </div>
                        </div>


                        <div class="form-group">
                            @Html.Label("Şifre", new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                <input id="password" name="password" type="password" class="form-control" required = "required">
                                
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Durum :</label>
                            <div class="col-lg-9">
                                <label class="radio-inline">
                                    @if (Model != null)
                                    {
                                        <input type="checkbox" class="styled" value="1" checked="@(Model.StatusId == (int)StatusEnum.Active)" name="StatusId"><span>Aktif</span>
                                    }
                                    else
                                    {
                                        <input type="checkbox" class="styled" value="1" checked="checked" name="StatusId"><span>Aktif</span>
                                    }

                                </label>
                            </div>
                        </div>

                        <div class="text-right">
                            <button type="submit" class="btn  bg-teal-700">KAYDET</button>
                        </div>
                    </div>
                </div>


}
        </div>
    </div>
</div>
<!-- /content area -->
