﻿@model SnmzCMS.Data.ViewModel.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @* Buraya panelden bilgi girilecek. Hangi firma ise onun adı gelecek. *@
    <title>Snmz - CMS Yönetim Paneli</title>
    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/colors.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/theme.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script type="text/javascript" src="/assets/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/loaders/blockui.min.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script type="text/javascript" src="/assets/js/plugins/forms/validation/validate.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/forms/styling/uniform.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/app.js"></script>
    <script type="text/javascript" src="/assets/js/pages/login_validation.js"></script>
    <!-- /theme JS files -->
</head>
<body class="login-container login-cover">
    <!-- Page container -->
    <div class="page-container">
        <!-- Page content -->
        <div class="page-content">
            <!-- Main content -->
            <div class="content-wrapper">
                <!-- Content area -->
                <div class="content pb-20">
                    <!-- Form with validation -->
                    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new {@class = "form-validate", role = "form"}))
                     {
                         @Html.AntiForgeryToken()
                         <div class="panel panel-body login-form ertekLoginPanel">
                             <div class="text-center">
                                 <h3 class="content-group">Oturum Aç</h3>
                             </div>
                             <div class="form-group has-feedback has-feedback-left">
                                 @Html.TextBoxFor(m => m.UserName, new { @class = "form-control input-lg", placeholder = "Kullanıcı Adı", required = "required" })
                                 <div class="form-control-feedback">
                                     <i class="icon-user text-muted"></i>
                                 </div>
                             </div>

                             <div class="form-group has-feedback has-feedback-left">                                
                                 @Html.TextBoxFor(m => m.Password, new { @class = "form-control input-lg", placeholder = "Parola", required = "required",type="password" })
                                 <div class="form-control-feedback">
                                     <i class="icon-lock2 text-muted"></i>
                                 </div>
                             </div>
                             
                             @if (TempData["ErrorMsg"] != null)
                             {
                                 <p>Kullanıcı Adı veya Şifreniz Hatalı</p>
                             }

                             <div class="form-group login-options">
                                 <div class="row">
                                     <div class="col-sm-6">
                                         <label class="checkbox-inline">
                                             @Html.EditorFor(x => x.RememberMe, new { @class = "styled" })
                                            Beni Hatırla
                                         </label>
                                     </div>
                                     <div class="col-sm-6 text-right text-info">
                                         <a href="password_recover.html" class="text-info">Şifremi Unuttum</a>
                                     </div>
                                 </div>
                             </div>
                             <div class="form-group">
                                 <button type="submit" class="btn bg-blue btn-block">
                                     GİRİŞ
                                     <i class="icon-arrow-right14 position-right"></i>
                                 </button>
                             </div>                                                          
                         </div>
                     }
                    <!-- /form with validation -->
                </div>
                <!-- /content area -->
            </div>
            <!-- /main content -->
        </div>
        <!-- /page content -->
    </div>
    <!-- /page container -->
</body>
</html>