﻿@using SnmzCMS.Business.Enums
@model SnmzCMS.Data.Users

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <!-- Basic layout-->

            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h5 class="panel-title">Hesap Bilgileri</h5>
                    <div class="heading-elements">
                        <ul class="icons-list">
                            <li>
                                <a data-action="collapse"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6 col-lg-4">
                            <!-- User details (with sample pattern) -->
                            <div class="content-group">
                                <div class="panel-body bg-blue border-radius-top text-center" style="background-image: url(http://demo.interface.club/limitless/assets/images/bg.png); background-size: contain;">
                                    <div class="content-group-sm">
                                        <h5 class="text-semibold no-margin-bottom">
                                            @Model.Name @Model.SurName
                                        </h5>
                                        @if (Model.RoleId != null)
                                        {
                                            <span class="display-block">@Enum.GetName(typeof(RoleEnum), Model.RoleId)</span>
                                        }

                                    </div>
                                    <a href="#" class="display-inline-block content-group-sm">
                                        <img src="assets/images/placeholder.jpg" class="img-circle img-responsive" alt="" style="width: 120px; height: 120px;">
                                    </a>

                                </div>

                            </div>
                            <!-- /user details (with sample pattern) -->
                        </div>
                        @using (Html.BeginForm("MyProfile", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(x => x.Id)
                            @Html.HiddenFor(x => x.RoleId)
                        <div class="col-sm-6 col-lg-8">
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Kullanıcı Adı :</label>
                                <div class="col-lg-9">
                                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control input-lg", placeholder = "Kullanıcı Adı", required = "required" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-3 control-label">Adı :</label>
                                <div class="col-lg-9">
                                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control input-lg", placeholder = "Adı", required = "required" })

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Soyadı :</label>
                                <div class="col-lg-9">
                                    @Html.TextBoxFor(m => m.SurName, new { @class = "form-control input-lg", placeholder = "Soyadı", required = "required" })

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Telefon :</label>
                                <div class="col-lg-9">
                                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control input-lg", placeholder = "Telefon" })
                                </div>
                            </div>
                            
                            <div class="text-right">
                                <button type="submit" class="btn  bg-teal-700">GÜNCELLE</button>
                            </div>
                        </div>
                        }
                    </div>
                </div>
            </div>

            <!-- /basic layout -->
        </div>
    </div>
</div>
<script>
    
    $(window).load(function () {
        var isResult = @Html.Raw(Json.Encode(ViewBag.Result));
        if (isResult!= null) {
            window.swal("Snmz-CMS Admin", "Veriler Güncellendi.", "success");         
        }
    });

    

</script>